{% extends "layout2.html" %}

{% block content %}
<div class="row mt-5">
    <div class="col"></div>
    <div class="col-md-8" style="border-style: solid; border-width: 5px; border-color: #212529;">
        <div class="row bg-dark fs-1" style="color: white;">
            <h1>REGRESION LINEAL ♥</h1>
        </div>
        <form method="post" action="/daysi/MinimosLI/Result" id="forma" name="forma">
            <div class="row mt-2 fs-5"><!-- filaaaaaaaaaa tres -->
                <div class="col">
                    <div class="row">
                        <div class="col-sm-1">X = </div>
                        <div class="col"><input type="text" style="text-align: center; font-weight: 600;" class="form-control" name="x" value="{{x}}" placeholder="1,2,3,4,5,8,10,15,20,25,26,27,30" required></div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 fs-5"><!-- filaaaaaaaaaa tres -->
                <div class="col">
                    <div class="row">
                        <div class="col-sm-1">Y = </div>
                        <div class="col"><input type="text" style="text-align: center; font-weight: 600;" class="form-control" name="y" value="{{y}}" placeholder="25,62,84,66,35,20,41,22,14,58,96,20,45" required></div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-2"><!-- boooootoooooones -->
                <div class="col"><input type="submit" value="Calcular" class="btn btn-dark me-1"></div>
                <div class="col"><input type="reset" value="Borrar ♥" class="btn btn-dark"></div>
            </div>
            <div class="row mt-2 mb-4 fs-6"><!-- filaaaaaaaaaa uno -->
                <div class="col">
                    <div class="row ms-1 me-2">
                        <textarea  name="AreaMatrizR" id="AreaMatriz" style="text-align: center; font-size: 28px;" placeholder = "{{MR}}" cols="6" rows="3" >{{MR}}</textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
<img src="{{ url_for('static', filename='IMG/Daysiicon.png') }}" alt="No carga" width="100"
    style="border-radius: 100px; margin-top: 5vh;" />
<div class="row fs-1" style="color: #212529;">
    <h1>♥ Daysi Calculator ♥</h1>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #212529; color: white;">
                <h5 class="modal-title" id="exampleModalLabel">Para calcular:</h5>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                    style="color: white; font-size: 30px;" aria-label="Close">x</button>
            </div>
            <div class="modal-body" style="font-size: 20px;">
                <pre style="text-align: left;">♥ Súmar: SUMA(a,b) ó suma(b,a)</pre>
                <pre style="text-align: left;">♥ Restar: RESTA(a,b) = (A - B)</pre>
                <pre style="text-align: left;">♥ Inversa: A**-1, INV(A) ó INV(B)</pre>
                <pre style="text-align: left;">♥ Transpuesta: T(A), T(B) ó t(a)</pre>
                <pre style="text-align: left;">♥ Determinante: DET(A), det(a) ó det(b)</pre>
                <pre style="text-align: left;">♥ Sistema de ecuaciones: SOL(a,b) ó sol(b,a)</pre>
            </div>
            <div class="modal-footer" style="background-color: #212529;">
            </div>
        </div>
    </div>
</div>
{% endblock %}