<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAYSI CALCULATOR ♥</title>
    <!--cbosstrap-->
    <!--<link rel="stylesheet" href="../static/style/layout.css"/>-->
    <!--<link rel="icon" href="../static/IMG/MARCHANT.png">-->
    <link rel="icon" href="{{ url_for('static', filename='IMG/MARCHANT.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/layout.css') }}">
</head>
<body>
    <div id="header">
        <ul class = "menu">
            
                <li class="menuItem2"><p style = "font-size: 27px; padding-top: 12px; background-color: black; color: white;">Daysi Calculator ♥</p></li>
                <li class="menuItem"><a href="/">inicio</a></li>
                <li class="menuItem"><a href="/bases">bases</a></li>
                <li class="menuItem"><a href="/binario">binario ieee754</a></li>
                <li class="menuItem"><a href="/daysi">ecuaciones</a></li>
            
        </ul>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>