{% extends "layout2.html" %}

{% block content %}
<div class="row mt-5">
    <div class="col"></div>
    <div class="col-md-8" style="border-style: solid; border-width: 5px; border-color: #212529;">
        <div class="row bg-dark fs-1" style="color: white;">
            <h1>Matrices ♥</h1>
        </div>
        <form method="post" action="/daysi/MatrizSuma/Result" id="forma" name="forma">
            <div class="row mt-2 fs-6"><!-- filaaaaaaaaaa uno -->
                <div class="col">
                    <div class="row ms-2" style="font-weight: bold;">A)</div>
                </div>
                <div class="col">
                    <div class="row ms-2" style="font-weight: bold;">B)</div>
                </div>
            </div>
            <div class="row mt-2 fs-6"><!-- filaaaaaaaaaa uno -->
                <div class="col">
                    <div class="row ms-1 me-1">
                        <textarea  name="AreaMatrizA" id="AreaMatrizA" cols="6" rows="6" style="font-size: 28px;"
                        placeholder="1,5
5,2
6,3">{{aMA}}</textarea>
                    </div>
                </div>
                <div class="col">
                    <div class="row ms-1 me-1">
                        <textarea  name="AreaMatrizB" id="AreaMatrizB" cols="6" rows="6" style="font-size: 28px;"
                        placeholder="1,5,6
5,2,3">{{aMB}}</textarea>
                    </div>
                </div>
            </div>
            <div class="row mt-2 fs-5"><!-- filaaaaaaaaaa dos -->
                <div class="col">
                    <div class="row">
                        <div class="col ms-1" style="font-weight: bold; text-align: left;">{{MA}}</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col ms-1" style="font-weight: bold; text-align: left;">{{MB}}</div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 fs-5"><!-- filaaaaaaaaaa tres -->
                <div class="col">
                    <div class="row">
                        <div class="col"><input type="text" style="text-align: center; font-weight: 600;" class="form-control" name="funcion" value="{{funcion}}" placeholder="2*A+B" required></div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-2"><!-- boooootoooooones -->
                <div class="col"><input type="submit" value="Calcular" class="btn btn-dark me-1"></div>
                <div class="col"><button type="button" class="btn btn-dark" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Ayuda ?
                </button></div>
            </div>
            <div class="row mt-2 mb-4 fs-6"><!-- filaaaaaaaaaa uno -->
                <div class="col">
                    <div class="row ms-1 me-2">
                        <textarea  name="AreaMatrizR" id="AreaMatriz" style="text-align: center; font-size: 28px;" placeholder = "{{MR}}" cols="6" rows="6" >{{MR}}</textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
<img src="{{ url_for('static', filename='IMG/Daysiicon.png') }}" alt="No carga" width="100"
    style="border-radius: 100px; margin-top: 5vh;" />
<div class="row fs-1" style="color: #212529;">
    <h1>♥ Daysi Calculator ♥</h1>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #212529; color: white;">
                <h5 class="modal-title" id="exampleModalLabel">Para calcular:</h5>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                    style="color: white; font-size: 30px;" aria-label="Close">x</button>
            </div>
            <div class="modal-body" style="font-size: 20px;">
                <pre style="text-align: left;">♥ Inversa: A**-1, INV(A) ó INV(B)</pre>
                <pre style="text-align: left;">♥ Transpuesta: T(A), T(B) ó t(a)</pre>
                <pre style="text-align: left;">♥ Determinante: DET(A), det(a) ó det(b)</pre>
                <pre style="text-align: left;">♥ Sistema de ecuaciones: SOL(a,b) ó sol(b,a)</pre>
            </div>
            <div class="modal-footer" style="background-color: #212529;">
            </div>
        </div>
    </div>
</div>
{% endblock %}